---
export const prerender = false;

import { actions, isInputError } from "astro:actions";
import { isAPIError } from "better-auth/api";
import { asc, eq, sum } from "drizzle-orm";
import Button from "../../../components/Button.astro";
import Footer from "../../../components/Footer.astro";
import Nav from "../../../components/Nav.astro";
import OrganizationInvoices from "../../../components/OrganizationInvoices.astro";
import Shell from "../../../layouts/Shell.astro";
import { milestone, project } from "../../../lib/schema.ts";

const { slug } = Astro.params;

const session = await Astro.locals.auth.api.getSession({
	headers: Astro.request.headers,
});

if (!session) {
	return Astro.redirect("/login");
}

if (!session.session.activeOrganizationId) {
	try {
		await Astro.locals.auth.api.setActiveOrganization({
			body: {
				organizationSlug: slug,
			},
			headers: Astro.request.headers,
		});
	} catch (error) {
		if (isAPIError(error) && error.body?.code === "ORGANIZATION_NOT_FOUND") {
			return Astro.redirect("/dash");
		}
	}
}

const organization = await Astro.locals.auth.api.getFullOrganization({
	query: {
		organizationSlug: slug,
		membersLimit: 0,
	},
	headers: Astro.request.headers,
});

if (!organization) {
	return Astro.redirect("/dash");
}

const updateMetadataResult = Astro.getActionResult(
	actions.mutateOrganizationMetadata,
);
const metadataInputErrors = isInputError(updateMetadataResult?.error)
	? updateMetadataResult.error.fields
	: {};

if (updateMetadataResult && !updateMetadataResult.error) {
	return Astro.redirect(`/dash/org/${slug}`, 303);
}

const projects = await Astro.locals.db
	.select({
		id: project.id,
		name: project.name,
		deadline: project.deadline,
		stateOfWork: project.stateOfWork,
		stateOfPayment: project.stateOfPayment,
		cost: Astro.locals.db
			.select({ value: sum(milestone.cost).mapWith(Number).as("value") })
			.from(milestone)
			.where(eq(milestone.projectId, project.id))
			.as("cost"),
	})
	.from(project)
	.where(eq(project.organizationId, organization.id))
	.orderBy(asc(project.name));

const metadata = await Astro.locals.db.query.organizationMetadata.findFirst({
	where: { organizationId: organization.id },
});

const totalCost = projects.reduce((acc, project) => acc + project.cost, 0);

const currencyFormatter = new Intl.NumberFormat("de-DE", {
	style: "currency",
	currency: "EUR",
});
---

<Shell>
	<Fragment slot="head"> <title>craftlions | Dashboard</title> </Fragment>
	<Fragment slot="body">
		<body
			class="min-h-dvh grid grid-rows-[auto_1fr_auto] bg-neutral-50 dark:bg-neutral-950 dark:text-neutral-50 text-neutral-950 antialiased gap-6 p-4 text-pretty"
		>
			<header class="grid gap-6 max-w-3xl mx-auto w-full">
				<Nav organizationSlug={slug} />
			</header>

			<main
				class="w-full grid content-start min-h-0 pl-3 max-w-3xl mx-auto gap-6"
			>
				<section class="grid grid-cols-[1fr_auto] items-start gap-4">
					<h1
						class="border-l border-dashed border-neutral-400 pl-3 text-3xl font-semibold leading-tight dark:border-neutral-600"
					>
						{organization.name}'s Dashboard
					</h1>
				</section>

				<section
					aria-labelledby="projects-list-heading"
					class="grid content-start gap-3"
				>
					<h2
						id="projects-list-heading"
						class="text-sm font-semibold uppercase text-neutral-500 dark:text-neutral-400"
					>
						Projects
					</h2>
					<table
						class="w-full text-sm border border-dashed border-neutral-300 dark:border-neutral-700"
					>
						<thead class="text-neutral-700 dark:text-neutral-300">
							<tr>
								<th scope="col" class="text-left font-semibold px-4 py-3">
									Name
								</th>
								<th scope="col" class="text-left font-semibold px-4 py-3">
									Status
								</th>
								<th scope="col" class="text-right font-semibold px-4 py-3">
									Cost
								</th>
								<th scope="col" class="text-left font-semibold px-4 py-3">
									Actions
								</th>
							</tr>
						</thead>
						<tbody
							class="divide-y divide-dashed divide-neutral-300 dark:divide-neutral-700"
						>
							{projects.length > 0 ? (
									projects.map((project) => (
										<tr>
											<th scope="row" class="px-4 py-3 text-left font-medium">
												{project.name}
											</th>
											<td class="px-4 py-3 text-neutral-600 dark:text-neutral-400">
												{project.stateOfWork ?? "-"}
											</td>
											<td class="px-4 py-3 text-neutral-600 dark:text-neutral-400 text-right">
												{project.cost !== null
													? currencyFormatter.format(project.cost)
													: "-"}
											</td>
											<td class="px-4 py-3">
												<Button
													href={`/dash/org/${slug}/project/${project.id}`}
												>
													Details
												</Button>
											</td>
										</tr>
									))
								) : (
									<tr>
										<td
											colspan="4"
											class="px-4 py-6 text-center text-neutral-600 dark:text-neutral-400"
										>
											No projects yet.
										</td>
									</tr>
								)}
						</tbody>
					</table>
				</section>
				<section>
					<h2
						class="text-sm font-semibold uppercase text-neutral-500 dark:text-neutral-400"
						>Invoices</h2
					>
					<OrganizationInvoices id={organization.id} />
				</section>
			</main>
			<Footer />
		</body>
	</Fragment>
</Shell>
